<?xml version="1.0"?>
<robot name="sgr532" xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="base_footprint"/>
    <joint name="sagittarius_base_link_joint" type="fixed">
      <origin xyz="0.044 0 0.138" rpy="0 0 0"/>
      <parent link="base_footprint"/>
      <child link="$(arg robot_name)/base_link"/>
    </joint>
</robot>  