<!--rtab_demo -->
<launch>
  	<!-- camera -->
  	<arg name="camera_type_tel" default="" doc="camera type [astrapro, astra]"/>
	<arg name="depthtolaser"	default="/camera/depth/points"/>

	<!-- spark底盘驱动，机器人描述,底盘,相机 -->
	<include file="$(find spark_bringup)/launch/driver_bringup.launch">
		<arg name="camera_type_tel"	value="$(arg camera_type_tel)"/>
		<arg name="dp_rgist"		value="true"/>
	</include>
	<!-- Run the depthimage_to_laserscan node -->
	<include file="$(find camera_driver_transfer)/launch/$(arg camera_type_tel)_p2s.launch">
	</include>

 
  	<!-- Move base -->
  	<include file="$(find spark_navigation)/launch/includes/move_base.launch.xml"/>

</launch>
